In [1]:
import pandas as pd
import pymannkendall as mk

In [37]:
df = pd.read_csv("D:\\Docs\\DSM\\8th Semester\\415 DSMHP\\Project\\GEE Export\\Table Data\\Gas Data\\CH4_2019-23bd.csv")
df.head()

         Date  Concentration
0  2019-01-01    1877.766817
1  2019-01-02    1880.773920
2  2019-01-03    1882.012087
3  2019-01-04    1880.087381
4  2019-01-05    1862.242813

In [38]:
result = mk.original_test(df['Concentration'])
print(result)

Mann_Kendall_Test(trend='increasing', h=True, p=0.0, z=19.111747515187112, Tau=0.38671811699886566, s=229098.0, var_s=143693792.0, slope=0.05507183992869863, intercept=1882.9943010787879)

In [39]:
trend, h, p, z, Tau, s, var_s, slope, intercept = mk.original_test(df['Concentration'])

In [40]:
print(trend,p,slope)

increasing 0.0 0.05507183992869863